# === Global ===
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
.DS_Store
.env
.env.*
!.env.example

# === Python / Django ===
.venv/
venv/
flow_app_core/__pycache__/
flow_app_core/db.sqlite3
flow_app_core/media/
flow_app_core/staticfiles/
flow_app_core/.pytest_cache/
flow_app_core/.mypy_cache/
flow_app_core/.coverage
flow_app_core/coverage.xml

# === Node / Vue ===
.yarn/
coverage/
flow_app_ui/node_modules/
flow_app_ui/dist/
flow_app_ui/.vite/
flow_app_ui/.output/
flow_app_ui/.eslintcache

# === Docker ===
*.pid
*.sock
docker-compose.override.yml
.docker/
tmp/

# === VSCode / IDEs ===
.vscode/
.idea/
*.swp

# === OS ===
Thumbs.db
ehthumbs.db
*.bak
*.tmp