apipkg==2.1.0
apparmor==3.1.7
appdirs==1.4.3
asgiref==3.4.1
asn1crypto==0.24.0
attrs==19.3.0
Automat==20.2.0
bcrypt==3.2.0
brotlipy==0.7.0
certifi==2018.1.18
cffi==1.13.2
chardet==3.0.4
cmdln==2.0.0
configobj==5.0.6
constantly==15.1.0
createrepo_c==0.16.0
crit==3.18
cryptography==3.3.2
cupshelpers==1.0
decorator==4.4.2
Django==3.2.25
django-filter==21.1
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==17.2.1
idna==2.6
incremental==21.3.0
iniconfig==0.0.0
ipaddr==2.1.11
isc==2.0
LibAppArmor==3.1.7
mysqlclient==1.4.6
nftables==0.1
notify2==0.3.1
ordered-set==4.0.2
packaging==21.3
ply==3.10
protobuf==3.9.2
psutil==5.9.1
py==1.10.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.20.1
pycparser==2.17
pycups==1.9.74
pycurl==7.43.0.2
PyGObject==3.42.2
PyHamcrest==1.9.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyserial==3.4
PySide2==5.15.12
PySocks==1.6.8
python-linux-procfs==0.7.0
python-vlc==3.0.20123
pytz==2025.2
pyudev==0.22.0.dev20230813
requests==2.25.1
rpm==4.14.3
service-identity==18.1.0
shiboken2==5.15.12
shiboken2-generator==5.15.12
six==1.14.0
slip==0.6.5
slip.dbus==0.6.5
sqlparse==0.4.4
termcolor==1.1.0
Twisted==22.2.0
typing-extensions==3.10.0.0
urllib3==1.25.10
zope.interface==4.4.2
